header {
    background: url(assets/img/bg/hero-bg.jpg) center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    .overlay {
        background: rgba(255, 255, 255, 0.6);
        width: 100%;
        height: 100%;
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            padding: $padding;
            .title {
                height: 50vh;
                width: 60vw;
                padding: $padding;
                background: rgba(255, 255, 255, 0.8);
                background-image: linear-gradient( to top, $green, rgba(255, 255, 255, 0.8) 4% );
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                display: none;
                .logo {
                    background: url(assets/logo/Jacksonii-logo-AW_RGB_Stacked.png) center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;
                    max-width: 40vw;
                    margin: auto
                }
                .border {
                    width: 20px;
                    height: 20px;
                    background-color: $yellow;
                    border-top-left-radius: 20px;
                }
            }
        }
    }
}