.logo {
    width: 250px;
    height: 150px;
    .img {
        background-image: url('images/logo/Jacksonii-logo-AW_RGB_Stacked.png') no-repeat center center fixed;
        background-size: contain;
    }
}